.side .md .events-module {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 6px;
	text-align: center;
}

.side .md blockquote.events-module h3 {
	margin-bottom: 4px;
}

.side .md blockquote.events-module h3 a {
	color: #fff;
}

.side .md blockquote.events-module h3 {
	height: 36px;
	padding: 0;
	position: relative;
}

.side .md blockquote.events-module h3:hover {
	background: #0f3f6f;
}

.side .md blockquote.events-module h3 a {
	color: #fff;
	display: block;
	height: 20px;
	padding: 8px 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.side .md #eventsContent {
	margin-top: 4px;
	padding: 0;
}

.side .md .event-block {
	background: #03a3ec url(https://raw.githubusercontent.com/yogensia/userscripts/master/background.jpg);
	background-position: -286px center;
	border-radius: 3px;
	color: #fff;
	display: block;
	margin-bottom: 6px;
	overflow: hidden;
	padding: 6px;
	position: relative;
	text-shadow: 0 1px 0 rgba(0,0,0,0.35);
}
.side .md .event-block:hover {
	background-position: -1430px center;
}

.side .md .event-block.state-finished {
	background-color: #f15838;
	background-position: 0 center;
}
.side .md .event-block.state-finished:hover {
	background-position: -1144px center;
}

.side .md .event-block.state-progress {
	background-position: -572px center;
	background-color: #adc23a;
}
.side .md .event-block.state-progress:hover {
	background-position: -1716px center;
}

.side .md .event-block p {
	margin: 5px;
}

.side .md .event-block a {
	color: #fff!important;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	line-height: 20px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.side .md .event-timer {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.side .md .event-block.state-progress .event-timer {
	margin: 7px 0;
}

.side .md .event-timer strong {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	color: #444;
	padding: 1px 5px;
	text-shadow: none;
}

.side .md .event-block.state-progress .event-timer strong {
	color: #c81414;
	font-size: 14px;
	padding: 0 7px;
}

.side .md .event-block .block-link {
	display: block;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.side .md .event-footer {
	font-size: 10px;
}

.side .md .event-footer a {
	font-weight: bold;
}